/.vs
/build
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/BC.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/BC4BC5.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/BC6HBC7.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/BCDirectCompute.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTex.lib
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTex.pch
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTex.pdb
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTex.tlog/CL.command.1.tlog
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTex.tlog/CL.read.1.tlog
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTex.tlog/CL.write.1.tlog
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTex.tlog/Cl.items.tlog
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTex.tlog/DirectXTex.lastbuildstate
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTex.tlog/Lib-link.read.1.tlog
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTex.tlog/Lib-link.write.1.tlog
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTex.tlog/Lib.command.1.tlog
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexCompress.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexCompressGPU.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexConvert.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexD3D11.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexD3D12.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexDDS.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexFlipRotate.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexHDR.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexImage.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexMipMaps.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexMisc.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexNormalMaps.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexTGA.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTexUtil.obj
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTex_Desktop_2022_Win10.log
./3rdParty/DirectXTex/Bin/Desktop_2022_Win10/x64/Debug/DirectXTex_Desktop_2022_Win10.vcxproj.FileListAbsolute.txt